<h1>Upcoming Events</h1>

<table>
  <tr>
    <th>Location</th>
    <th>Date</th>
  </tr>
  <tr>
    <% @events.each do |event| %>
      <td><%= event.location %></td>
      <td><%= event.date %></td>
    <% end %>
  </tr>
</table>
